html { width:100%; height:100%; margin:0; padding:0; }

body {
    background-color: rgb(41, 42, 48);
    /* background-color: rgb(1, 1, 59); */
    width:100%; height:100%; margin:0; padding:0;
}

.loginbtn {
    margin-top: 14px;
    scale: 1.2;
    border-radius: 10%;
}
.loginbtn:hover {
    color: #377aea;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
    transition-property: visibility;
    transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
}

nav {
    background-color: rgb(0, 0, 0);
    /* color: blue; */
    /* text-align: center; */
}

.navbar .nav-item {
    margin-right: 25px;
    margin-left: 25px;
}

#right {
    float: right;
    margin-right: 50px;
}

.logoutbtn {
    margin-top: 14px;
    scale: 1.2;
    border-radius: 10%;
    /* float: right; */
}

.logoutbtn:hover {
    cursor: pointer;
    color: red;
}

.desctext {
    /* float:left; */
    color: white;
    /* margin-left: 50px; */
    margin-top: 20px;
    background-color: rgb(1, 69, 196, 0.1);
    padding: 20px;
    border-radius: 10%;
    width: auto;
}

/*************************
    CAROUSEL
*************************/

.carousel .carousel-inner {
    height: 550px;
    margin-top: 20px;
    margin-bottom: 100px;
    background: #faf9f9;
    border:1px solid rgb(94, 104, 104);
    
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.control-icon {
    color: #393939;
    text-shadow: none;
}

.carousel-inner {
    position: relative;
    height: 300px;
}

.carousel-img {
    /* width: 200px;
    height: 400px; */
    background-size: cover;
    position: relative;
    /* top: 50px; */
    transform: translateY(5%);
}

.cat-title {
    text-shadow: none;
}

.item{
    position: relative;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}