body {
    /* background-color: black; */
    /* background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%); */
    background-image: linear-gradient(140deg, #4a12e4 10%, #13206d 50%, #41d6d6 75%);
    background-repeat:no-repeat;
    background-size: 100vw 100vh;
}

.webBtn {
    margin: 50px;
    font-family:'Comic Sans MS';
    font-size:20px;
    line-height:20px;
    color:#ffffff;
    background-color:#4d4d4d;
    padding:20px;
    border-radius:10px;
}

.webBtn:hover {
    color: #000000;
    background-color: #9b9999;
}

.loginbtn {
    margin-top: 14px;
    scale: 1.2;
    border-radius: 10%;
}
.loginbtn:hover {
    color: #377aea;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
    transition-property: visibility;
    transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
}

nav {
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(0deg, #06075f00 10%, #13206d 50%, #41d6d6 95%);
    /* color: blue; */
    /* text-align: center; */
}

.navbar .nav-item {
    margin-right: 25px;
    margin-left: 25px;
}

#right {
    float: right;
    margin-right: 50px;
}

.logoutbtn {
    margin-top: 14px;
    scale: 1.2;
    border-radius: 10%;
    /* float: right; */
}

.logoutbtn:hover {
    cursor: pointer;
    color: red;
}

.headerText {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

h1 {
    color: rgb(150, 148, 148);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
}

/* h3 {
    margin-right: 20%;
    margin-left: 20%;
    color: white;
    text-align: center;
    line-height: 40px;
} */

.abtme {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.212);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;;
    color: white;
    text-align: center;
    line-height: 40px;
}

.inpbox {
    width: 250px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(200, 200, 202);
}

.sbtn {
    margin: 20px;
    color: #ffffff;
    background: linear-gradient(0deg, #5f060600 10%, #6d1335 50%, #d64141 95%);
    background: linear-gradient(0deg, #d64141 10%, #6d1335 50%, #5f060600 95%);
    font-size: 19px;
    border: 1px solid #2d63c8;
    border-radius: 30px;
    padding: 15px 50px;
    cursor: pointer;
}